@use '../utils' as *;

/*----------------------------------------*/
/* 20. NEWSLETTER CSS 
/*----------------------------------------*/

.tp-app-newsletter {
    background-repeat: no-repeat;
    background-size: cover;
}

.app-newsletter-img {
    margin-left: -110px;

    @media #{$xxl} {
        margin-left: -50px;
    }

    @media #{$xl} {
        margin-left: -25px;
    }

    @media #{$lg} {
        margin-left: 0;
    }

    @media #{$md,$xs} {
        margin-left: 0;
        margin-bottom: 25px;
    }

    & img {
        border-radius: 20px 20px 0 0;

        @media #{$xl,$lg,$md,$xs} {
            max-width: 100%;
        }
    }
}


.app-hero {
    &__subscribe-input {
        & input {
            font-size: 16px;
            width: 100%;
            height: 70px;
            padding-left: 50px;
            padding-right: 200px;
            border: 0;
            background-color: var(--tp-common-white);
            border-radius: 8px;
            box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.06);

            @media #{$xxs} {
                padding-right: 50px;
                height: 60px;
            }

            @include tp-placeholder {
                color: #bbbbbb;

            }
        }

        & i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;
            color: var(--tp-theme-mirage);
            display: inline-block;
        }
    }
}

.app-hero-feature {
    @media #{$xs} {
        padding-bottom: 50px;
    }

    & span {
        @media #{$xxs} {
            display: block;
            margin-bottom: 10px;
        }
    }

    &__review {
        font-size: 18px;
        padding-right: 18px;
        color: var(--tp-common-white);

        & b {
            color: var(--tp-common-black);
        }

        & i {

            color: var(--tp-common-white);
            margin-right: 5px;
        }

    }

    &__credit {
        color: var(--tp-common-white);
        font-size: 18px;
        padding-left: 18px;

        @media #{$xxs} {
            padding-left: 0;
            border-left: 0;
        }

        i {
            color: var(--tp-common-white);
            margin-right: 5px;
        }
    }
}

.app-hero__subscribe-box {
    .hero-submit-btn {
        @media #{$xxs} {
            position: static;
            margin-top: 50px;
            width: 100%;
        }
    }
}

.tp-seo-newsletter {
    background-repeat: no-repeat;
    background-position: right;
}

.seo-nl-feature {
    & span {
        font-size: 18px;
        padding-right: 18px;
        font-weight: 600;
        color: var(--tp-theme-seagreen);
        margin-bottom: 5px;
        display: block;

        & i {
            margin-right: 7px;
            color: var(--tp-theme-atlantis);
        }
    }
}

.seo_newsletter-form {
    & input {
        border-radius: 35px;
    }

    & .app-hero__subscribe-input {
        & i {
            color: var(--tp-theme-seagreen);
        }
    }


    & .hero-submit-btn {
        border-radius: 35px;
        background-color: var(--tp-theme-lochmara);

        &:hover {
            background-color: var(--tp-theme-atlantis);
        }
    }

    @media #{$xs} {
        margin-right: 0;
    }
}